html
  head
    title=title
    link( rel="stylesheet", href="css/style.css", type="text/css")
  body
    div(class="headerContainer")
      h1=title
    div(class="mainPart")
      div(class="mainContainer")
        p=message
        if show_form
          form(action="/", method="post")
            select(name="stest_selector")
              each id_name in test_list 
                option=id_name["name"]
            button(type="submit", name="submit")="select"
        else
          a(href="/")="Go back"
